<p style="margin:10px;padding: 10px;">
	<a href="entrance-management.php" style="color: #03A9F4;font-size: 20px;">Entrance Management</a><br><br>
	<a href="security-management.php" style="color: #03A9F4;font-size: 20px;">Safety and Security Management</a> <br><br>
	<a href="smart-home-management.php" style="color: #03A9F4;font-size: 20px;">Smart home Management</a><br><br>
	<a href="music-zoning.php" style="color: #03A9F4;font-size: 20px;">Music Zoning</a><br><br>
	<a href="hospitality-solutions.php" style="color: #03A9F4;font-size: 20px;">Hospitality Solutions</a><br><br>
	<a href="conference-room-automation.php" style="color: #03A9F4;font-size: 20px;">Conference Room Automation Solutions &amp; Systems </a><br><br>
	<a href="smart-solutions.php" style="color: #03A9F4;font-size: 20px;">Smart Solutions</a><br><br>
</p>